.form {
  display: flex;
  flex-direction: column;

  // styles for all direct children of form
  > * {
    margin-bottom: $m-size;
  }

  &__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
  }
}