.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;

  @include desktop-screen {
    flex-direction: row;
    margin-bottom: $l-size;
  }

  &__item {
    margin-bottom: $s-size;

    @include desktop-screen {
      margin-right: $s-size;
      margin: 0 $s-size 0 0;
    }
  }
}
