.list {
  &-header {
    background: $off-white;
    border: 1px solid darken($color: $off-white, $amount: 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
  }

  &-body {
    margin-bottom: $m-size;

    @include desktop-screen {
      margin-bottom: $l-size;
    }
  }

  &-item {
    border: 1px solid darken($color: $off-white, $amount: 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
      background: $off-white;
    }

    @include desktop-screen {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: $m-size;
    }

    &--message {
      align-items: center;
      color: $grey;
      justify-content: center;
      padding: $m-size;

      &:hover {
        background: none;
      }
    }

    &__title {
      margin: 0;
      word-break: break-all;
    }

    &__sub-title {
      color: $grey;
      font-size: $font-size-small;
    }

    &__data {
      margin: $s-size 0 0 0;

      @include desktop-screen {
        margin: 0;
        padding-left: $s-size;
      }
    }
  }
}
